.main-title {
    color: rgb(43, 226, 202);
 text-align: center;
 font-size: 50px;
 text-transform: uppercase;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
body {
   background-image: linear-gradient(blue, yellow); 
}
.meal-box {
    border: 7px solid rgb(43, 226, 202);
    margin: 30px;
    padding: 10px;
    width: 400px;
    height: 400px;
    color: aliceblue;
    list-style: none;
}
.rara {
    justify-content: right;
}

